.cardProducto {
    background-color: #f2f4f5;
    border-radius: 10px;
    width: 20rem;
    padding: 1rem;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardProducto img {
    width: 150px;
}

.btn {
    background-color: black;
    color: #fafafa;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
}